.tabMenuBlock{
	border-right: solid 2px #d6d6d6;
	box-shadow: 3px 5px 10px 4px #d7d8d9;
}
#cv-details{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	padding: 40px 60px 35px 60px;
}
#cv-details > div:not(.clearfix), #cv-details > div:not(.creat-cv-btn){
	cursor: pointer;
}
#cv-details .cv-item{
	background-color: #EAEAEA;
	border-top: 1px solid #D7D8D9;
	border-right: 1px solid #D7D8D9;
	border-left: 1px solid #D7D8D9;
    padding: 5px 8px;
    text-align: center;
}
#cv-details .cv-item img{
	width: 100%;
}
#resumeModal .modal-body img{
	width: 100%;
}
#cv-details h4{
	margin-bottom: 40px;
}
#cv-details p{
	padding: 5px 0;
	background-color: #BBBDBF;
	color: #4189A0;
	text-align: center;
}
#cv-details .active p{
	background-color: #4189A0;
	color: #fff;
}

#cv-details .dashed-hr{
	border: 1px dashed #E2E2E2;
	margin: 100px 0 30px 0;
}

.creat-cv-btn .btn{
	padding: 3px 30px;
	background-color: #41BBD9;
	color: #fff;
	margin-top: 5rem;
	font-size: 14px;
}